.red {
  border: 1px solid red;
}
/* utils */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
/* for all tags */
div {
  display: block;
}
.btn {
  margin-bottom: 0;
  font-size: 14px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}
img {
  vertical-align: middle;
  border: 0;
}
a {
  outline: none;
  color: #fbeb8f;
}

a,
a:hover,
a:active {
  text-decoration: none;
}
a {
  outline: none;
  transition: all 0.3s ease;
}
/* container */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
.container:before,
.container:after {
  display: table;
  content: " ";
}
.container:after {
  clear: both;
}
/* utils */
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 992px) {
  .col-md-12 {
    width: 100%;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row:before,
.row:after {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
}
/* images url */
.background {
  background-image: url(//nx-cdn.trgwl.com/Images/nexus-alpha/dark-gold/desktop/home/download-apk-background.jpg?v=20230711-1);
}
/* first div download-apk */
.download-apk-container {
  background-size: cover;
  overflow: hidden;
}
/* img */
.download-apk {
  display: flex;
  align-items: center;
  font-family: Arial;
  color: #fff;
}
.download-apk > div {
  flex-basis: 50%;
  opacity: 0;
  transition: all 1s ease;
}
/* second block */
.download-apk h2 {
  font-family: Arial;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 35px;
  margin: 0;
}
.download-apk h2 > strong {
  display: block;
  font-weight: 700;
  text-align: justify;
}
.download-apk h3 {
  font-weight: 600;
  font-size: 25px;
  margin: 0;
}
.download-apk-info {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.download-apk-info .download-apk-section {
  flex-basis: 50%;
}

.download-apk-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
}
.download-apk-section > * {
  flex-basis: 50%;
  margin: 5px 0;
}
.download-apk-qr-code img {
  max-width: 94px;
}
.download-apk-detail {
  text-align: left;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
/* btn */
.download-apk .btn {
  color: #000;
  background: #f8e689;
  background: linear-gradient(to bottom, #f8e689 0%, #bf8e20 100%);
  border: none;
}

.download-apk .btn {
  font-weight: 600;
  display: block;
  padding: 3px;
  border-radius: 20px;
  text-align: center;
  background: #f69c00;
  background: linear-gradient(to bottom, #f69c00 0%, #d17601 100%);
  border: none;
}
.download-apk-section i {
  color: #b18f34;
}
.download-apk-section i {
  color: #f69c00;
  font-style: normal;
  display: block;
}
