@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a,
div {
  font-family: "Exo", sans-serif;
  line-height: 1.42857;
}
html {
  text-size-adjust: 100%;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
/* for all tags */
ul,
ol {
  list-style: none;
}
.btn {
  margin-bottom: 0;
  font-size: 14px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}
img {
  vertical-align: middle;
  border: 0;
}
a {
  outline: none;
  text-decoration: none;
  color: #fbeb8f;
  transition: all 0.3s ease;
}

a,
a:hover,
a:active {
  text-decoration: none;
}
/* checed classes */
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row:after {
  clear: both;
}
.row:before,
.row:after {
  display: table;
  content: " ";
}

/* delete this */
.red {
  border: 1px solid red;
}
/*  */
